{% extends 'base.html' %} {% load widget_tweaks %}

{% block content %}
<main>
    <div class="container">
        <section class="mb-4">
            <div class="row wow fadeIn">
                <div class='col-1 offset-1'>
                    <a href="/accounts/profile" class="btn btn-outline-success my-2">profile</a>
                    <a href="/accounts/profile/address" class="btn btn-outline-primary">Address</a>
                </div>
                <div class='col-6 offset-2'>
                    <h1>Address</h1>
                    <form action="/accounts/profile/address" method="POST">
                        {% csrf_token %} {% for field in form %}
                        <div class="form-group">
                            <small class="text-danger"> {{ field.errors}}</small>
                            {{ field.errors }}
                            <label for="" class="">{{ field.label_tag }}</label>
                            {{ field |add_class:'form-control' }} {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-outline-success"> Update address</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}