{% extends 'base.html' %} {% load widget_tweaks %}

{% block content %}
<main>

    <div class="tabs-profile">
        <div class="container">
            <div class="row">
                {% include "left_tab_profile.html" %}
                <div class="col-lg-8 col-sm-7 col-7">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_a">

                            <section class="mb-4">
                                <div class=" fadeIn">

                                    <h1>Chang password</h1>
                                    <form action="/accounts/changePassword/" method="POST">

                                        {% csrf_token %} {% for field in form %}
                                        <div class="form-group">
                                            {{ field.errors }}
                                            <label for="" class="">{{ field.label_tag }}</label>
                                            {{ field |add_class:'form-control' }} {% if field.help_text %}
                                            <p class="help">{{ field.help_text|safe }}</p>
                                            {% endif %}


                                        </div>
                                        {% endfor %}

                                        <button type="submit" class="btn btn-outline-success"> Change Password</button>

                                    </form>
                                </div>
                            </section>
                        </div>
                        <div class="tab-pane" id="tab_b">
                            <h3>2.</h3>

                        </div>
                        <div class="tab-pane" id="tab_c">
                            <h3>3</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
{% block extra_scripts %}
<script>
    //tabs-profile-
    $(function () {
        var $a = $(".tabs-profile li");
        $a.click(function () {
            $a.removeClass("active");
            $(this).addClass("active");
        });
    });
</script>
{% endblock extra_scripts %}