<!-- footer -->
<div class="total-footer">
    <footer class="footer">
        <div class="footer-area pb-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-12 col-xs-12">
                        <div class="footer-content logo-footer">
                            <div class="footer-head">
                                <div class="footer-logo">
                                    <!-- <a href="#"><img src alt="Visitek logo "></a> -->
                                    <h4 class="pb-2">Organic Logo</h4>
                                </div>
                                <p>
                                    Welcome to Organik. Our products are freshly harvested, washed ready for box and
                                    finally delivered
                                    from
                                    our family farm
                                    right to your doorstep.
                                </p>
                                <div class="footer-icons">
                                    <ul>
                                        <li>
                                            <a data-toggle="tooltip" data-placement="top" title=" Facebook"
                                                target="blank">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="tooltip" data-placement="top" title=" Twitter">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="tooltip" data-placement="top" title=" Google">
                                                <i class="fab fa-google"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a data-toggle="tooltip" data-placement="top" title=" Instagram">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-md-2 col-sm-12 col-12 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head pb-5">
                                <h4>INFOMATION</h4>
                                <div class="my-4" style="border-bottom: 1px solid #ffffff !important"></div>
                                <a href="">New Products</a>
                                <a href="">Top Sellers</a>
                                <a href="">Our Blogs</a>
                                <a href="">About Out Shop</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 col-12 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head pb-5">
                                <h4>USEFUL LINKS</h4>
                                <div class="my-4" style="border-bottom: 1px solid #ffffff !important"></div>
                                <a href="">Our Team</a>
                                <a href="">Our Blog</a>
                                <a href="">About Us</a>
                                <a href="">Secure Shopping</a>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-md-3 col-sm-12 col-12 col-xs-12">
                        <div class="footer-content last-content">
                            <div class="footer-head pb-5">
                                <h4>SUBSCRIBE</h4>
                                <div class="my-4" style="border-bottom: 1px solid #ffffff !important"></div>
                                <div class="footer-contacts">
                                    <p class="py-2">Enter your email address for our mailing list to keep yourself
                                        updated.</p>
                                </div>
                                <form>
                                    <div class="input-group">
                                        <input type="sub" class="form-control" placeholder="Enter your email">
                                        <span class="input-group-btn">
                                            <button class="btn" type="submit"><i
                                                    class="fab fa-telegram-plane icons"></i></button>
                                        </span>
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- Start Footer Bottom Area -->
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-5 col-sm-5">
                    <div class="footer-head">
                        <a href="">Copyright © 2019 TM Organik - All Rights Reserved.</a>
                    </div>
                </div>
                <div class="col-md-2 col-2 col-sm-2 mid-footer-head">
                    <button class="btn"><a href="#top">

                            <i class="fas fa-angle-double-up"></i></a></button>
                </div>
                <div class="col-md-5 col-5 col-sm-5">
                    <img src="https://organik.thememove.com/wp-content/themes/tm-organik/assets/images/footer_payment_01.png"
                        alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom Area -->
</div>